[submodule "ExData_Plotting1"]
	path = ExData_Plotting1
	url = https://github.com/danielinho23/ExData_Plotting1.git
[submodule "RepData_PeerAssessment1"]
	path = RepData_PeerAssessment1
	url = https://github.com/danielinho23/RepData_PeerAssessment1.git
[submodule "datasciencecourseraproject"]
	path = datasciencecourseraproject
	url = https://github.com/danielinho23/datasciencecourseraproject.git
[submodule "ProgrammingAssignment2"]
	path = ProgrammingAssignment2
	url = https://github.com/danielinho23/ProgrammingAssignment2.git
